/* 侧边栏 */
.setting-tab {
    display: flex;
    flex-direction: column;

    & .nav-bar {
        flex-shrink: 0;

        &.liteloader {
            display: flex;
            flex-flow: column;
            flex: 1;
            margin-top: 25px;
            overflow-x: hidden;
            overflow-y: scroll;

            &::before {
                content: "";
                display: block;
                position: absolute;
                transform: translate(50px, -15px);
                width: 100px;
                height: 5px;
                border-radius: 5px;
                background: rgba(127, 127, 127, 0.5);
            }

            .nav-item.error {
                text-decoration: line-through;
                color: var(--text-error);
                order: 1;
            }
        }
    }
}

/* 主内容 */
.setting-main .q-scroll-view.liteloader .tab-view {
    font-size: 14px;
    padding: 20px 20px 0px;
}


/* 设置页面样式 */
.config_view .plugins :is(.extension, .theme, .framework)>setting-item {
    gap: 8px;

    &.disabled,
    &.deleted {
        & .info-area>div>div {
            opacity: 0.5;
            font-weight: bold;
            font-style: italic;
        }

        &.deleted {
            & .info-area>div>div {
                text-decoration: line-through;
                color: var(--text-error);
            }
        }
    }

    & .info-area {
        & {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &>div {
            height: 48px;
            display: flex;
            align-items: center;
            gap: 8px;

            & .icon :is(img, svg) {
                width: 48px;
                height: 48px;
                border-radius: 8px;
            }
        }

        &>setting-text {
            display: flex;
            gap: 8px;

            & :nth-child(-n+3) {
                min-width: 120px;
            }

            & :nth-child(3) {
                max-width: 240px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}