/* 模态框 */
.config_view .modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

.config_view .modal-dialog {
    width: 480px;
    border-radius: 8px;
    /* Linux样式兼容：--fg_white */
    background-color: var(--bg_bottom_standard, var(--fg_white));
}

.config_view .modal-dialog header {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.config_view .modal-dialog main {
    padding: 0px 16px;
}

.config_view .modal-dialog main p {
    margin: 8px 0px;
}

.config_view .modal-dialog footer {
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.config_view .modal-dialog .q-icon {
    width: 22px;
    height: 22px;
    margin: 8px;
}


/* 版本号 */
.config_view .versions .wrap {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
}

.config_view .versions .wrap>div {
    flex: 1;
    margin: 0px 10px;
    border-radius: 8px;
    text-align: center;
}


/* 数据目录 */
.config_view .path .path-input {
    align-self: normal;
    flex: 1;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 100ms ease-out;
}

.config_view .path .path-input:focus {
    padding-left: 5px;
    background-color: var(--overlay_active);
}

@media (prefers-color-scheme: light) {
    .text_color {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    .text_color {
        color: white;
    }
}