.better_qqnt {
    padding: 20px;
}

.better_qqnt h1 {
    color: var(--text_primary);
    font-weight: var(--font-bold);
    font-size: min(var(--font_size_3), 18px);
    line-height: min(var(--line_height_3), 24px);
    margin: 0px 0px 8px 16px;
}

.better_qqnt .wrap {
    background-color: var(--fill_light_primary);
    border-radius: 8px;
    font-size: min(var(--font_size_3), 18px);
    line-height: min(var(--line_height_3), 24px);
    margin-bottom: 20px;
}

.better_qqnt .ops-btns {
    display: flex;
}


/* 版本号 */
.better_qqnt .versions hr {
    border: unset;
    width: 1px;
    margin: 8px 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.better_qqnt .versions .wrap {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.better_qqnt .versions .wrap>div {
    flex: 1;
    margin: 8px;
    border-radius: 8px;
}

.better_qqnt .versions .wrap>div * {
    margin: 6px 0;
}

.better_qqnt .versions .content {
    color: var(--on_bg_text);
    font-size: 12px;
    line-height: 18px;
}


/* 数据目录 */
.better_qqnt .path hr {
    border: unset;
    height: 1px;
    margin: 0px 16px;
    background-color: rgba(0, 0, 0, 0.1);
}

.better_qqnt .path .wrap {
    overflow: hidden;
}

.better_qqnt .path .wrap>div {
    margin: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.better_qqnt .path .path-input {
    align-self: normal;
    flex: 1;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 100ms ease-out;
}

.better_qqnt .path .path-input:focus {
    padding-left: 4px;
    background-color: rgba(127, 127, 127, 0.1);
}