<body>
    <section class="versions">
        <h1>版本号</h1>
        <div class="wrap">
            <div class="betterqqnt">
                <h2>LiteLoader</h2>
                <p class="content"></p>
            </div>
            <hr />
            <div class="qqnt">
                <h2>QQNT</h2>
                <p class="content"></p>
            </div>
            <hr />
            <div class="chromium">
                <h2>Chromium</h2>
                <p class="content"></p>
            </div>
            <hr />
            <div class="electron">
                <h2>Electron</h2>
                <p class="content"></p>
            </div>
            <hr />
            <div class="nodejs">
                <h2>Node.js</h2>
                <p class="content"></p>
            </div>
        </div>
    </section>
</body>