.plugins_marketplace .list-ctl .ops-selects {
    display: flex;
    gap: 8px;
}

.plugins_marketplace .list-ctl .q-pulldown-menu-button .icon {
    width: 16px;
    height: 16px;
}

.plugins_marketplace .list-ctl .q-pulldown-menu-button .content {
    width: 80px;
}

.plugins_marketplace .list-ctl .adv-ops-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    margin-left: 16px;
}

.plugins_marketplace .list-ctl .adv-ops-btn:hover {
    background-color: var(--overlay_hover);
}

.plugins_marketplace .list-ctl .adv-ops-btn.is-active {
    background-color: var(--overlay_active);
}

.plugins_marketplace .list-ctl .adv-ops-btn .icon {
    width: 1em;
    height: 1em;
    transform: rotate(-180deg);
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;
}

.plugins_marketplace .list-ctl .adv-ops-btn .icon.is-fold {
    transform: rotate(0deg);
}


.plugins_marketplace .list-ctl .q-context-menu {
    z-index: 4000;
    margin-top: 5px;
    width: 122px;
}

.plugins_marketplace .list-ctl .selected .icon {
    display: block !important;
}

.plugins_marketplace .list-ctl .q-context-menu .icon {
    display: none;
    width: 1em;
    height: 1em;
}


/* 列表控制 */
.plugins_marketplace .list-ctl .vertical-list-item>div {
    display: flex;
    align-items: center;
}

.plugins_marketplace .list-ctl .search-input {
    align-self: normal;
    flex: 1;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 100ms ease-out;
}

.plugins_marketplace .list-ctl .search-input:focus {
    padding-left: 5px;
    background-color: var(--overlay_active);
}


/* 插件列表 */

/* 缩略图 */
.plugins_marketplace .plugin-list .thumbnail {
    width: 56px;
    height: 56px;
    border-radius: 8px;
}

/* 插件信息 */
.plugins_marketplace .plugin-list .info {
    flex: 1;
    margin: 0px 16px;
}

/* 插件名字 */
.plugins_marketplace .plugin-list .info .name {
    font-size: 14px;
    font-weight: var(--font-bold);
    margin-bottom: 4px;
}

.plugins_marketplace .plugin-list .ops-btns {
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.plugins_marketplace .plugin-list .ops-btns .q-button:not(:last-child) {
    margin: unset;
}

.plugins_marketplace .plugin-list span:not(:last-child) {
    margin-right: 12px;
}

/* 描述超过两行显示省略号 */
.plugins_marketplace .plugin-list .info .description {
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.plugins_marketplace .plugin-list .extra-information {
    margin: unset;
}