/**************/
/* 列表控制区域 */
/**************/


/* 高级选项按钮 */
.plugins_marketplace .list-ctl .adv-ops-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 4px;
}

/* 高级选项按钮-鼠标效果 */
.plugins_marketplace .list-ctl .adv-ops-btn:hover {
    background-color: var(--overlay_hover);
}

/* 高级选项按钮-激活效果 */
.plugins_marketplace .list-ctl .adv-ops-btn.is-active {
    background-color: var(--overlay_active);
}

/* 高级选项按钮-图标 */
.plugins_marketplace .list-ctl .adv-ops-btn .icon {
    width: 1em;
    height: 1em;
    transform: rotate(-180deg);
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;
}

/* 高级选项按钮-图标收起 */
.plugins_marketplace .list-ctl .adv-ops-btn .icon.is-fold {
    transform: rotate(0deg);
}

/* 选择框容器 */
.plugins_marketplace .list-ctl .ops-selects {
    display: flex;
    gap: 8px;
}

/* 选择框按钮-文本 */
.plugins_marketplace .list-ctl .q-pulldown-menu-button .content {
    width: 80px;
}

/* 选择框按钮-图标 */
.plugins_marketplace .list-ctl .q-pulldown-menu-button .icon {
    width: 16px;
    height: 16px;
}

/* 选择框选项菜单 */
.plugins_marketplace .list-ctl .q-context-menu {
    z-index: 4000;
    margin-top: 5px;
    width: 122px;
}

/* 选择框选项菜单-图标 */
.plugins_marketplace .list-ctl .q-context-menu .icon {
    display: none;
    width: 1em;
    height: 1em;
}

/* 选择框选项菜单-选择后图标 */
.plugins_marketplace .list-ctl .q-context-menu .selected .icon {
    display: block !important;
}

/* 搜索框 */
.plugins_marketplace .list-ctl .search-input {
    align-self: normal;
    flex: 1;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 100ms ease-out;
}

/* 搜索框-聚焦 */
.plugins_marketplace .list-ctl .search-input:focus {
    padding-left: 5px;
    background-color: var(--overlay_active);
}


/**************/
/* 插件列表区域 */
/**************/


/* 插件列表-列表 */
.plugins_marketplace .single {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* 插件列表-网格 */
.plugins_marketplace .double {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* 插件条目容器 */
.plugins_marketplace .wrap {
    width: 100%;
}

/* 插件列表条目去掉外边距 */
.plugins_marketplace .single .wrap {
    margin: unset;
}

/* 插件列表条目去掉外边距 */
.plugins_marketplace .double .wrap {
    margin: unset;
    flex-basis: calc(50% - 10px);
}

/* 插件列表-正序 */
.plugins_marketplace .forward {
    flex-wrap: wrap;
}

/* 插件列表-倒序 */
.plugins_marketplace .reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

/* 插件缩略图 */
.plugins_marketplace .plugin-list .thumbnail {
    width: 56px;
    height: 56px;
    border-radius: 8px;
}

/* 插件信息容器 */
.plugins_marketplace .plugin-list .info {
    flex: 1;
    align-self: start;
    margin: 0px 16px;
}

/* 插件名字 */
.plugins_marketplace .plugin-list .info .name {
    font-size: 14px;
    font-weight: var(--font-bold);
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

/* 插件描述 */
.plugins_marketplace .plugin-list .info .description {
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* 插件按钮容器 */
.plugins_marketplace .plugin-list .ops-btns {
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

/* 插件按钮 */
.plugins_marketplace .plugin-list .ops-btns .q-button {
    margin: unset;
}

/* 插件附加信息 */
.plugins_marketplace .plugin-list .extra-information {
    margin: unset;
}

/* 插件附加信息 */
.plugins_marketplace .plugin-list .extra-information span {
    margin-right: 12px;
}


/***********/
/* 松散模式 */
/***********/


.plugins_marketplace .loose .wrap {
    padding: 0px 16px;
}

.plugins_marketplace .loose .vertical-list-item {
    margin: 16px 0px;
}

/* 插件缩略图 */
.plugins_marketplace .loose .thumbnail {
    width: 56px;
    height: 56px;
}

.plugins_marketplace .loose .info {
    margin: 0px 16px;
}

/* 插件描述 */
.plugins_marketplace .loose .info .description {
    margin-top: 4px;
}

/* 插件按钮容器 */
.plugins_marketplace .loose .ops-btns {
    gap: 8px;
}

/* 插件附加信息 */
.plugins_marketplace .loose .extra-information span {
    margin-right: 12px;
}


/***********/
/* 紧凑模式 */
/***********/


.plugins_marketplace .compact .wrap {
    padding: 0px 8px;
}

.plugins_marketplace .compact .vertical-list-item {
    margin: 8px 0px;
}

/* 插件缩略图 */
.plugins_marketplace .compact .thumbnail {
    width: 52px;
    height: 52px;
}

.plugins_marketplace .compact .info {
    margin: 0px 8px;
}

/* 插件描述 */
.plugins_marketplace .compact .info .description {
    margin-top: 0px;
}

/* 插件按钮容器 */
.plugins_marketplace .compact .ops-btns {
    gap: 4px;
}

/* 插件附加信息 */
.plugins_marketplace .compact .extra-information span {
    margin-right: 6px;
}